---
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Хобби' },
  { depth: 2, slug: 'social-networks', text: 'Соц сети' }
]
---

<PageLayout title='Обо мне' {headings} info='/about'>
  <p>Руководитель разработки / Teamlead</p>
  <p>
    Занимаюсь программированием с 12 года и занимаюсь им исключительно потому, что мне по кайфу. Я
    потратил почти всю сознательную жизнь, разбираясь с разработкой софта, а еще угарал как мог в
    свободное время.
  </p>
  <p>
    Дальше пошел в руководство, ибо инициатива наказуема, а я ток и делаю, что говорю да улучшаю.
    Перекатился в руководство и продолжил улучшать, автоматизировать и делать красиво.
  </p>
  <p>
    Карьера, показатели и хардкор. Стремлюсь в директора и чтобы весь из себя важный и бумажный был.
  </p>
  <p>
    Мой опыт в разработке софта, выстраивание процессов и построению карьеры считаю тем, что должно
    идти в массы и помогать. Ну и я себе на пиво этим наскребу, а то как же в наше время без пива.
  </p>
  <p>
    У меня был ноушен, и я отлично превращал его страницы в сайт, а потом шот забанили и надо было
    создавать свой блог. И вот он, блог, навигация и хранилище контента!
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Хобби</h2>
  <ul>
    <li>Разработка софта и карьера. Я из тех задротов, что даже после работы лезут писать код.</li>
    <li>
      Ходить по барам и травить шутки, возможно, вы меня видели или слышали, хотели вы этого или
      нет.
    </li>
    <li>У меня есть пёс, который хрюкает, а не гавкает, он шикарен.</li>
    <li>Жму от груди 140кг.</li>
    <li>Обожаю единоборства</li>
  </ul>

  {/* social-networks */}
  <h2 id='social-networks'>Соц сети</h2>
  <p>У меня 2 ТГ канала. Один привязан к ютуб каналу, другой для души.</p>
  <Substats
    stats={[
      {
        platform: 'Mr.Hook TG',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/mister_hook',
        text: 'subscribers',
        api: 'telegram/mister_hook'
      },
      {
        platform: 'IT не об IT',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/it_ne_ob_it',
        text: 'subscribers',
        api: 'telegram/it_ne_ob_it'
      },
      {
        platform: 'YouTube',
        icon: 'youtube',
        color: '#e71f19',
        link: 'https://www.youtube.com/@hook-s2p',
        text: 'subscribers',
        api: ''
      },
      {
        platform: 'Boosty',
        icon: 'netease',
        color: '#e71f19',
        link: 'https://boosty.to/mrhook',
        text: 'subscribers',
        api: ''
      },
      {
        platform: 'VK',
        icon: 'email',
        color: '#2ca5e0',
        link: 'https://vk.com/mister_hook',
        text: 'subscribers',
        api: ''
      }
    ]}
  />
</PageLayout>
