---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Санкт-Петербург'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='Обо мне'>
        <p class='text-muted-foreground'>Руководитель разработки / Teamlead</p>
        <p class='text-muted-foreground'>
          Я веду свой блог о разработке ПО, финансах и учу людей жизни. Тут вы найдете мои статьи,
          видео, блоги и умные мысли. Тут также находится вся навигация по всему, что я делаю в
          интернете.
        </p>
        <Button title='Больше обо мне' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Контент'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='Больше контента' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      <Section title='Проекты'>
        <div class='grid grid-cols-2 gap-4'>
          <Card as='a' href='https://t.me/mister_hook' heading='Mr.Hook'>
            <p class='text-blue-300'>Telegram сообщество моего YouTube канала</p>
          </Card>
          <Card as='a' href='https://www.youtube.com/@hook-s2p' heading='Mr.Hook'>
            <p class='text-red-300'>YouTube канал для бесплатных видосов</p>
          </Card>
          <Card as='a' href='https://vk.com/mister_hook' heading='Mr.Hook'>
            <p class='text-green-300'>Сообщество VK, тут видосы с YouTube</p>
          </Card>
          <Card as='a' href='https://t.me/it_ne_ob_it' heading='IT не об IT'>
            <p class='text-blue-300'>Telegram канал, который я веду для души</p>
          </Card>
          <Card as='a' href='https://boosty.to/mrhook' heading='Boosty'>
            <p class='text-amber-300'>Бусти для эксклюзивного и платного контента</p>
          </Card>
          <Card as='a' href='https://dzen.ru/it_ne_ob_it' heading='IT не об IT'>
            Меня также можно читать на Дзене
          </Card>
        </div>
      </Section>
    </div>
  </main>
</PageLayout>
